html, body {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 15px; line-height: 1.64; background-color: #292929!important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b { font-family: 'Roboto', sans-serif !important; margin-bottom: 20px; }
h1,h4 { font-weight: 700; margin-bottom: 10px; }
h2,h3 { font-weight: 300; color: #00518d; }
h2 { font-size: 54px; text-align: center; }
h3 { font-size: 28px; }

footer {
    margin-top: 25px;
    padding: 15px;
    background-color: #333;
    color: black;
    text-align: center;
}

footer p{
    margin-top: 10px;
}

div {
    color: white;
}

p.lead {
    text-align: center;
    color: #f2ffff;
}

div h1{
    text-align: center;
    color: #eefbfb;

}
/*Navbar*/

.navbar {
    background-color: #434242
}

.parallax {
    background-image: url("bg-im.jpeg");
    padding-top: 300px;
    padding-bottom: 700px;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Profile image*/

.profile img {
    border-radius: 50%;
    width: 100%;
    max-width: 246px;
    height: auto;
    border-width: 100px;
    border-color: lightgrey;
}

.container-fluid .container{
    max-width: 1400px;
}

.container-fluid .container h3 {
    padding: 30px;

}

#profile {
    padding: 60px 30px 80px;
}

#profile .row {
    padding: 30px;
}

.experiences {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;

}

.experiences .row {
    padding-bottom: 20px;
}

.experiences .row .col-md-4 {
    color: black;
}

.experiences .row .col-md-8 {
    color: black;
}

#experience {
    background-color: lightgray;
    padding-top: 80px;
    padding-bottom: 80px
}

#skills {
    padding: 80px 30px;
}

#projects {
    background-color: lightgray;
    padding: 80px 30px;
}

#contact {
    wdith: 100%;
}

/*Fading sections*/

section {
    opacity: 0;
    transform: translate(0, 20px);
    transition: all 2s;
}

section.visible {
    opacity: 1;
    transform: translate(0, 0);
}








